@font-face {
  font-family: "CeraPro-Bold";
  src: local(" CeraPro-Bold"),
    local("CeraPro-Bold"),
    url("./fonts.css/CeraPro-Bold") format("woff2"),
    url("./fonts.css/CeraPro-Bold") format("woff");
    font-weight: 700;
    font-style:normal;
}

@font-face {
  font-family: "CeraPro-Regular";
  src: local("CeraPro-Regular"),
         url("./fonts.css/CeraPro-RegularItalic") format("woff2");
    
    font-weight: 400;
    font-style:normal;
}
